p, span, button
{
    font-size:20px;
}

h1{
    text-align: center;
}

section#translate2{
    display:flex;
    width:80%;
    margin:auto;
    justify-content:center;
    margin-top:200px;
}

#right2{
    width:30%;
    height:300px;
}

#left2{
    width:50%;
}